.chip-default{
	-fx-background-color: lightgray;
	-fx-background-radius: 15;
	-fx-border-color: darkgray;
    -fx-border-radius: 15;
    -fx-min-width: 60;
    -fx-min-height 10;

    -fx-max-width: 120;
    -fx-max-height: 30;
}
.chip-selected{
	-fx-background-color: lightblue;
	-fx-background-radius: 15;
	-fx-border-color: darkblue;
    -fx-border-radius: 15;
    -fx-min-width: 60;
    -fx-min-height 10;

    -fx-max-width: 120;
    -fx-max-height: 30;
}