
*{
	primaryColor:			#fafafa;
	primaryLightColor:		#ffffff;
	primaryDarkColor:		#c7c7c7;

	secondaryColor:			#cfd8dc;
	secondaryLightColor:		#ffffff;
	secondaryDarkColor:		#9ea7aa;

	primaryTextColor:		#212121;
	secondaryTextColor:		#263238;


	fontSmall: 16px;
	fontMedium: 26px;
	fontLarge: 36px;
}

.root{
	-fx-background-color: primaryColor;
	-fx-font-size: 12px;
}

.mainWindowFrameContainer{
	-fx-pref-width: 1330;
	-fx-pref-height: 650;
}

.label-large{
	-fx-font-size:  36px;
	-fx-font-weight: bolder;
}
.label-medium{
	-fx-font-size: 22px;
}
.label-small{
	-fx-font-size: 16px;
}

.label-small-bold{
	-fx-font-size: 16px;
	-fx-font-weight: bold;
}

.label-smaller{
	-fx-font-size: 12px;
}

.label-titled-pane{
	-fx-font-color: green;
}

.jfx-button-large{
	-fx-background-color: secondaryColor;
	-fx-font-size: 30px;
	-fx-font-weight: bold;
}

.jfx-button-normal{
	-fx-background-color: secondaryColor;
	-fx-font-size:16px;

}
.jfx-button-small{
	-fx-background-color: secondaryColor;
	-fx-font-size:12px;
}

.jfx-button-small{
	-fx-background-color: secondaryColor;
	-fx-font-size:12px;
}

.jfx-text-field{
	-fx-underline:  false;
	-fx-border-radius: 5;
}

.jfx-text-field-measures{
	-fx-background-color: secondaryColor;
	-fx-underline:  false;
	-fx-alignment: CENTER;
	-fx-text-origin:  baseline;
}

#mainWindowHeader{
	-fx-background-color: darkseagreen;
	-fx-pref-height: 40;
}